numpy==1.26.4
scipy==1.13.1
pytest==9.1.0
nexusformat==2.0.2
fast-histogram==0.14
pyevtk==1.7.0
setuptools==73.0.1
transformations==2025.1.1
h5py==3.16.0
pyyaml==6.0.3
pandas==2.3.3
tifffile==2025.5.10
fabio==2025.10.0
pyFAI[all]==2026.5.0
schema==0.7.8
concurrent-log-handler==0.9.29
simpleeval==1.0.7
